# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.venv
venv
.env

# Git
.git
.gitignore

# OS files
.DS_Store

# Python packaging
*.egg-info
.dist
build

# Byte-compiled / optimized / DLL files
.cache
.pytest_cache

# IDE tools
.idea

# Project files
media
staticfiles
